.modal-one {
    position: fixed;
    left: 25%;
    top: 20%;
    z-index: 1;
    width: 50%;
    height: 50%;
    background-color: white;

    .modal_content {
        position: absolute;
        top: 20%;
        left: 30%;
        width: 40%;
        padding: 20px;
        border-radius: 5px;
        border: 2px solid black;
      }
  }
  
  .close {
    color: Black;
    float: right;

    &:hover {
        color: cyan;
        cursor: pointer;
    }
  }

  .dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, .5);
  }