@import '../../../../styling/variables';

.search-bar {
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    text-align: center;
}

.search-bar label {
    margin-left: .4rem;
}

input[type='checkbox'] {
    accent-color: $primary;
}
